@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Quicksand", serif;
}
.container {
  width: 90%;
  margin: auto;
}
:root {
  --orange: rgb(254, 163, 1);
  --skyblue: rgb(1, 172, 253);
  --fade_blue: rgb(5, 212, 223);
  --purple: rgb(135, 0, 255);
  --btn_story_blue: rgb(60, 216, 232);
  --btn_story_green: rgb(149, 178, 38);
  --btn_story_purple: rgb(93, 88, 240);
}
body {
  background-image: white;
}

/* nav design starts here */

.left_nav {
  cursor: pointer;
  align-items: center;
  display: flex;
}
nav .left_nav img {
  width: 62px;
  height: 62px;
}
.nav_bar {
  align-items: center;
}
nav .school {
  font-weight: 700;
  font-size: 32px;
}
nav .middle_nav ul li {
  list-style: none;
}
nav .middle_nav ul li a {
  font-size: 20px;
  font-weight: 500;
  color: black;
  text-decoration: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 12px;
}
nav .middle_nav ul li:nth-child(1) a {
  color: var(--orange);
}
nav .middle_nav ul li:nth-child(2) a {
  color: var(--skyblue);
}

nav .middle_nav ul li:nth-child(3) a {
  color: var(--fade_blue);
}
nav .middle_nav ul li:nth-child(4) a {
  color: var(--purple);
}
nav .middle_nav ul li a:nth-child(1):hover {
  color: black;
  background-color: rgb(255, 255, 176);
}
nav .middle_nav ul {
  display: flex;
  gap: 30px;
}
.button_nav button {
  padding: 10px;
  width: 197px;
  height: 50px;
  background-color: var(--orange);
  border-radius: 12px;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
}
.button_nav button:hover {
  background-color: rgb(181, 224, 255);
  color: var(--purple);
}
.nav_bar {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* nav design ends here */

.hero {
  display: flex;

  /* White */
  background: white;
  align-items: center;
  justify-content: space-between;
}

.hero_text_big {
  width: 640px;
  height: 331px;
  font-size: 56px;
  font-weight: 700;
  line-height: 61px;
  text-align: left;
  justify-content: flex-start;
  align-items: flex-start;
  justify-content: center;
}
.hero .hero_text_big .first {
  color: var(--orange);
}
.hero .hero_text_big .hero_blue {
  color: var(--skyblue);
}
.hero .hero_text_big .small_text p {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
}

.hero button {
  font-size: 20px;
  font-weight: 700;
  margin-top: 20px;
  width: 197px;
  height: 50px;
  background-color: black;
  color: white;
  border-radius: 12px;
  border: none;
  cursor: pointer;
}
.hero button:hover {
  background-color: rgb(203, 233, 255);
  color: var(--skyblue);
}

/* hero section ends here */

#classes {
  background-image: url(./assets/bg.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 879px;
  /* display: flex;
flex-direction: column; */
  padding: 60px 0px 60px 0px;
}

.standard {
  font-size: 46px;
  font-weight: 700;
  line-height: 57.5px;
  text-align: center;
  margin-bottom: 45px;
}

.first_card {
  /* Section */
  position: relative;
  width: 367.8px;
  height: 476.78px;

  border: 0.94px solid rgb(222, 245, 255);
  border-radius: 18.86px;

  box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  background: linear-gradient(
      180deg,
      rgb(222, 245, 255),
      rgba(255, 255, 255, 0) 40%
    ),
    rgb(255, 255, 255);
}
.second_card {
  /* Section */
  position: relative;
  width: 367.8px;
  height: 476.78px;

  border: 0.94px solid rgb(255, 244, 220);
  border-radius: 18.86px;

  box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  background: linear-gradient(
      180deg,
      rgb(255, 244, 220),
      rgba(255, 255, 255, 0) 40%
    ),
    rgb(255, 255, 255);
}
.third_card {
  /* Section */
  position: relative;
  width: 367.8px;
  height: 476.78px;
  border: 0.94px solid rgb(242, 232, 255);
  border-radius: 18.86px;
  box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  background: linear-gradient(
      180deg,
      rgb(238, 225, 255),
      rgba(255, 255, 255, 0) 40%
    ),
    rgb(255, 255, 255);
}
.class_cards {
  display: flex;
  width: calc(90% -56px);
  height: 481.5px;
  gap: 28px;
  justify-content: space-evenly;
}

.cards img {
  position: absolute;
  width: 136.76px;
  height: 136.76px;
  left: 115.54px;
  top: 52.82px;
}
.cards .big {
  position: absolute;
  width: 211.06px;
  height: 31.13px;
  left: 78.57px;
  top: 221.65px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 24.52px;
  font-weight: 700;
  line-height: 30.65px;
  text-align: center;
}

.cards .small {
  position: absolute;
  width: 286.26px;
  height: 74.51px;
  left: 40.88px;
  top: 286.26px;
  display: flex;
  flex-direction: row;
  align-items: center;

  color: rgb(128, 128, 128);
  font-family: Raleway;
  font-size: 15.09px;
  font-weight: 500;
  line-height: 28.3px;
  text-align: center;
}

.read_more {
  /* Link */
  position: absolute;
  width: 102.92px;
  height: 28.3px;
  left: 132.46px;
  top: 394.73px;
}

.cards a {
  text-decoration: none;
  padding: 5px;
  border-radius: 7px;
  text-align: center;
  align-items: center;
}

.cards a:hover {
  background-color: beige;
}

.class_button button {
  width: 60px;
  height: 60px;
  align-items: center;
  color: white;
  background-color: var(--orange);
  border: none;
  font-size: 24px;
  font-weight: 900;
  border-radius: 30px;
}
.class_button {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 60px;
}

#stories {
  background: url(./assets/bg.png),
    linear-gradient(0deg, rgba(254, 163, 1, 0.3), rgba(255, 255, 255, 0.3) 100%);
  background-repeat: no-repeat;
  width: 100%;
  height: 1018.02px;
}
.stories{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.our_stories{
  font-size: 46px;
  font-weight: 700;
  line-height: 57.5px;
  text-align: center;

}
.stories_container {
  height: 630.52px;
  margin: 80px 0px;
}



/* 
.stories_container .gallery_cards{
  display: grid;

 
  height: 630.52px;
  width: calc(100% - 20px);
  background-color: rgb(255, 71, 71);


}

.our_stories {
  font-size: 46px;
  font-weight: 700;
  line-height: 57.5px;
  display: flex;
  justify-content: center;
  align-items: center;

} */

/* .footer{
  background-image: url(./assets/bg.png);
  height: 300px;
  width: 100%;
} */
